<%- include('../partials/user/header.ejs')  %> 
<%- include('../partials/user/navigation.ejs')  %> 

<div class="container">

    <div class="row">
        <div class="col-md-3">
            <%- include('../partials/user/sidebar.ejs') %>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-10">
                    <div class="card card-body my-5">
                        <h5>List of My Bookmarks</h5>
                        <div class="row">
                            <% if (posts.length === 0) { %>
                            <div class="text-center text-muted my-3 mx-3">
                                <p>You did not Bookmarked Any Post</p>
                            </div>
                            <% } else { %>
                                <% for (let post of posts.reverse()) { %>
                                    <div class="card col-sm-3 m-3">
                                        <% if (post.thumbnail) { %>
                                        <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top mt-3">
                                        <% } %>
                                        <div class="card-body p-0 mt-2">
                                            <a href="/dashboard/post/<%= post._id %>" style="color: #222;">
                                                <p><%= post.title %></p>
                                            </a>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/user/footer.ejs')  %> 

</body>

</html>