<%- include('../partials/user/header.ejs')  %> 
<%- include('../partials/user/navigation.ejs')  %> 

<section id="main-post-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 l-post">
                <!-- Latest posts -->
                <h2 class="m-4">Explore Posts</h2>
                <section class="mb-5 ml-2">
                    <a href="/dashboard?filter=latest" class="mr-1 btn <%= filter ==='latest' ? 'btn-danger' :' btn-dark ' %>  btn-danger">Latest</a>
                    <a href="/dashboard?filter=week" class="mr-1 btn  <%= filter ==='week' ? 'btn-danger' :' btn-dark ' %>">Week</a>
                    <a href="/dashboard?filter=month" class="mr-1 btn <%= filter ==='month' ? 'btn-danger' :' btn-dark '%>">Month</a>
                    <a href="/dashboard?filter=all" class="mr-1 btn <%= filter ==='all' ? 'btn-danger' :' btn-dark ' %>">All</a>
                </section>
                <div class="row mb-5" >
                    <% post.forEach(p=>{ %>
                    <div class="col-md-6 ">
                        <!-- <a href="./blog-single.html"></a> -->
                            <div class="card wow fadeInUp l-post-card">
                                <img class="card-img-top img-fluid" src="<%=p.thumbnail %> " alt="Card image cap">
                                <div class="card-body">
                                   <a href="<%=`/dashboard/post/${p._id}`%> "> <h5 class="card-title"><%=p.title %> </h5></a>
                                    <div class="d-flex author-post text-muted">
                                        <span><img class="mr-2 img-fluid" src="<%=p.author.profileImage %> " alt=""></span>
                                        <span class="mr-2"> <%=p.author.username  %>  &nbsp;&bullet;</span>
                                        <span><%=moment(p.createdAt).fromNow() %> </span>
                                       <% if(user){%>
                                            <span class="ml-auto bookmark" data-post="<%=p._id %>">
                                                <% if (bookmarks.includes(p._id)) { %>
                                                    <i class="fas fa-bookmark"></i>
                                                <% } else { %>
                                                    <i class="far fa-bookmark"></i>
                                                <% } %> 
                                                 
                                            </span>


                                      <% } %> 
                                    </div>
                                </div>
                            </div>
                        <!-- </a> -->
                    </div>
                  <%  }) %> 
                </div>

                <!-- Pagination -->
                <section id="paginationID">
                    <div class="row">
                        <div class="m-auto">
                            <% if (totalPage > 1) { %>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item mr-2 <%= currentPage === 1 ? 'disabled' : '' %>" >
                                            <a class="page-link" href="<%= `/dashboard?filter=${filter}&page=${currentPage - 1}`%>">
                                                
                                                Previous
                                            </a>
                                           
                                        </li>
                
                                        <% for (let i=1; i<=totalPage; i++) { %>
                                            <li class="page-item mr-2 <%= currentPage === i ? 'active' : '' %>" >
                                                <a class="page-link" href="<%= `/dashboard?filter=${filter}&page=${i}`%>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                        <% } %>
                
                                        <li class="page-item <%= currentPage === totalPage ? 'disabled' : '' %>" >
                                            <a class="page-link" href="<%= `/dashboard?filter=${filter}&page=${currentPage + 1}`%>">
                                                Next
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            <% } %>
                        </div>
                
                    </div>
                
                </section>

            </div>
            <!-- sidebar -->
            <div class="col-md-4 col-sm-12 r-post">
                <div class="md-form mt-2">
                    <form action="/search" class="form-inline" method="GET">
                        <input class="form-control search-box" type="text" placeholder="Search" name="term" aria-label="Search">
                    </form>
                  
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card pr mt-5">
                        <div class="card-body text-center bio-card">
                            <img class="card-img-top rounded-circle" src="./img/original.jpg" alt="Card image cap">
                            <h4 class="card-title">Minhajul Abedin Shafin</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Fullstack Developer</h6>
                            <p class="card-text">
                                I am a Fullstack Developer specialize in Node.js , React, Express basically the MERN stack.
                            </p>

                            <a href="/about"><button class="btn btn-primary d-flex m-auto">Read my bio</button></a>

                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/minhajul.abedinshafin/" class="mr-2"> <i class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/shafin5714" class="mr-2"> <i class="fab fa-twitter-square"></i></i></a>
                                <a href="https://www.instagram.com/shafin5714/?hl=en" class="mr-2"> <i class="fab fa-instagram"></i></a>
                                <a href="https://github.com/Shafin5714" class="mr-2"> <i class="fab fa-github"></i></a>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- popular posts -->
                <div class="p-post">
                    <h2 class="text-center my-3">Popular posts</h2>
                    <hr>
                    <ul>
                      <% popular.forEach(element => { %>
                        <li>
                            <a href="dashboard/post/<%=element._id%>">
                                <div class="media">
                                    <img class="mr-3" src="<%=element.thumbnail%> " alt="Generic placeholder image"
                                        width="80" height="50">
                                    <div class="media-body">
                                        <p class="mt-0"><%=element.title%></p>
                                        <div class="time-comment mt-2">
                                            <span class="mr-2"><%= moment(element.createdAt).format('MMMM Do YYYY') %> </span>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                      <% }) %> 
                      
                        
                        
                    </ul>
                </div>
                <!-- Categories -->
                <div class="category-box">
                    <h3 class="heading">Categories</h3>
                   
                    <ul class="categories  text-start">
                        <% ntotal.forEach(element => { %>
                            <% if (element._id==='Technology') { %>
                                <li><a href="/category?name=Technology">Technology <span>(<%=element.count%>)</span></a></li>
                            <% } %>
                            <% if (element._id==='Lifestyle') { %>
                                <li><a href="/category?name=Lifestyle">Lifestyle <span>(<%=element.count%>)</span></a></li>
                            <% } %>
                            <% if (element._id==='Food'){ %>
                                <li><a href="/category?name=Food">Food <span>(<%=element.count%>)</span></a></li>
                            <% } %>
                            <% if (element._id==='Travel'){ %>
                                <li><a href="/category?name=Food">Travel <span>(<%=element.count%>)</span></a></li>
                            <% } %>
                            <% if (element._id==='Adventure'){ %>
                                <li><a href="/category?name=Adventure">Adventure <span>(<%=element.count%>)</span></a></li>
                            <% } %>
                        <% }) %> 
                               

                    </ul>
                </div>
                <!-- Tags -->
                <div class="tags mt-5">
                    <h4>Tags</h4>
                    <hr>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</section><br>
<!-- Pagination  -->


</div>
<%- include('../partials/user/footer.ejs')  %> 

<script src="/js/bookmarks.js"></script>
</body>
</html>